<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico">
    <title>{% block title %}Vertore{% endblock %}</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="{% static 'page/simple/css/page.css' %}">

    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>

  </head>
  <body>
    <div id="content">
      {% block content %}
      content
      {% endblock %}
    </div>
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'page/js/page.js' %}"></script>
  </body>
</html>
